<!DOCTYPE html>
<html>
<head>
    <title>New Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .image-preview {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>New Book</h2>
        <form id="bookForm" th:action="@{/admin/new}" method="POST" onsubmit="return confirm('Are you sure?')" enctype="multipart/form-data">
            <div class="row">
                <!-- Right column -->
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Title:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="title" name="title" required >
                        </div>
                        <label for="author" class="col-sm-2 col-form-label">Author:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="author" name="author" required >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Description:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publishDate" class="col-sm-2 col-form-label">Publish Date:</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="publishdate" name="publishdate" required >
                        </div>
                        <label for="numPages" class="col-sm-2 col-form-label">Number of Pages:</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="numberofpage" name="numberofpage">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="category" class="col-sm-2 col-form-label">Category:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="category" name="category" >
                        </div>
                    </div>
                </div>

                <!-- Left column -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cover">Upload Image:</label>
                        <input type="file" class="form-control-file" id="cover" name="cover" >
                    </div>
                    <img src="" id="imagePreview" class="image-preview" style="display: none;" alt="Image Preview">
                </div>
                <a href="/admin" class="btn btn-primary">Return</a>
                <button type="submit" class="btn btn-success">Save Book</button>
            </div>
        </form>
       <script>
            document.getElementById("cover").addEventListener("change", function () {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById("imagePreview").src = e.target.result;
                    document.getElementById("imagePreview").style.display = "block";
                }

                reader.readAsDataURL(this.files[0]);
            });
       </script>
    </div>
</body>
</html>
